/* start global */
:root {
  --bg-coloer: hsl(0, 0%, 100%);
  --text-coloer: #181a2a;
  --primary-coloer: #e8e8ea;
  --secondry-coloer: #3b3c4a;
}
[data="dark"] {
  --bg-coloer: #181a2a;
  --text-coloer: #ffffff;
  --primary-coloer: #4b6bfb;
  --secondry-coloer: #242535;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: grid;
  gap: 24px;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-coloer);
}

html {
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media screen and (min-width: 1025px) {
  .container {
    width: 1218px;
  }
}

/* للأجهزة المتوسطة (تابلت) */
@media screen and (min-width: 770px) and (max-width: 1024px) {
  .container {
    width: 1020px;
  }
}

/* للأجهزة الصغيرة (موبايل) */
@media screen and (max-width: 767px) {
  .container {
    width: 766px;
  }
}
/* end global */
/* start header */
header {
  height: 100px;
  display: grid;
  align-items: center;
}

header .container {
  width: 100%;
  display: flex;
  height: 36px;
  align-items: center;
  gap: 9.7%;
}
header .container nav {
  width: 77.33%;
  display: flex;
  gap: 2.22%;
  justify-content: center;
  align-items: center;
}
header .container nav .link {
  width: 70.8%;
  justify-content: center;
}

header .container nav .link ul {
  width: 100%;
  display: flex;
  gap: 6%;
  align-items: center;
  justify-content: center;
}
header .container nav .link ul li a {
  color: var(--secondry-coloer);
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
}
header .container nav .link ul li:first-child a {
  font-weight: 700;
}
body[data="dark"] header .container nav .link ul li a {
  color: var(--text-coloer);
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
}
body[data="dark"] header .container nav .link ul li:first-child a {
  font-weight: 400;
}

header nav .link {
  display: flex;
  align-items: center;
}
header .container .srh {
  width: 26.9%;
  height: 36px;
  border-radius: 5px;
  display: flex;
  gap: 16.32%;
}
header .container .search {
  width: 65.35%;
  padding: 8px 8px 8px 16px;
  border-radius: 5px;
  background-color: var(--primary-coloer);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .srh i {
  width: 9.6%;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
header .container nav .srh .tx {
  border: none;
  outline: none;
  width: 68.6%;
  background-color: var(--primary-coloer);
}
body[data="dark"] header .container .search {
  background-color: var(--secondry-coloer);
}
body[data="dark"] header .container nav .srh .tx {
  background-color: var(--secondry-coloer);
}
header .srh .btn {
  margin-top: 5px;
  width: 18.89%;
  height: 28px;
  top: 8px;
  left: 20px;
  border-radius: 100px;
  background-color: var(--primary-coloer);
  transition: 0.3s;
}

#check {
  width: 100%;
  opacity: 0;
  position: relative;
  bottom: 25px;
  left: 6px;
}

header .srh .btn .custom {
  display: block;
  position: relative;
  width: 50%;
  height: 24px;
  margin: 1px;
  border-radius: 100px;
  gap: 10px;
  background-color: var(--primary-coloer);
  transition: 0.3s;
}
/*  end header */
/* start section */
section .container .head .image img {
  width: 100%;
}
section .container .head .card {
  width: 46.3%;
  height: 45.78%;
  background-color: var(--bg-coloer);
  position: absolute;
  display: grid;
  padding: 40px;
  gap: 4%;
  top: 61.1%;
  left: 10.8%;
  border-radius: 12px;
  border: 1px solid var(--primary-coloer);
}
section .container .head .card .text .type {
  width: 18.9%;
  height: 15.1%;
  border-radius: 6px;
  background-color: #4b6bfb;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

/* end section */
/* end head */
/* start ads */
section .ads{
    width: 750px;
    height: 100px;
    border-radius: 12px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #E8E8EA;
    position: relative;
    left: 233px              ;
}
section .ads .contant{
    width: 177px;
    height: 70px;
    color: #696A75;
    display: grid;
    justify-content: center;
}
section .ads .contant p:first-child{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}

section .ads .contant h6{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
}
section .ads .contant h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
}
section .ads p,
section .ads h4,
section .ads h6{
    display: flex;
    justify-content: center;
}
/* end ads */
/* start latest-post */
section .latest-post{
    height: 1644px;
    display: grid;
    gap: 32px;
}
section .latest-post .title{
    height: 28px;
}
section .latest-post .title p{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
section .latest-post .items{
    
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(auto-fill , minmax(300px,1fr)) ;
}
section .latest-post .items .item{
    width: 392px;
    height: 488px;
    border-radius: 12px;
    border: 1px solid #E8E8EA;
    padding: 16px;
    display: grid;
    gap: 16px;
}
section .latest-post .item .cont{
    width: 360px;
    height: 200px;
    padding: 8px;
    display: grid;
    gap: 20px;
}
section .latest-post .item .text{
    width: 344px;
    height: 128px;
    display: grid;
    gap: 16px;
}
section .latest-post .item .text .type{
    width: 97px;
    height: 26px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4B6BFB;
    background-color: #4B6BFB0D;
}

section .latest-post .item .text h3{
font-weight: 600;
font-size: 24px;
line-height: 28px;
color: #181A2A;
}
section .latest-post .items .item  .cont  .acc{
    width: 303px;
    height: 36px;
    display: flex;
    gap: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #97989F;
    text-align: center;
    justify-content: center;

}
section .latest-post .items .item:nth-child(2)  .cont  .acc,
section .latest-post .items .item:nth-child(3)  .cont  .acc,
section .latest-post .items .item:nth-child(7)  .cont  .acc,
section .latest-post .items .item:nth-child(8)  .cont  .acc{
    width: 321px;
}
section .latest-post .item  .cont .acc .name{
display: flex;
gap: 12px;
} 
section .view{
    display: flex;
    justify-content: center;
}
section .view button{
    width: 142px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #696A754D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #696A75;
    background-color: #FFFFFF;
}

/* end latest-post */
/* end section */
/* start footer */
footer{
    margin-top: 90px;
    height: 500px;
    background-color: #E8E8EA;
    font-family: "Plus Jakarta Sans", sans-serif;
}
footer .container{
    display: grid;
    gap: 64px;
    padding-top:64px ;
    justify-content: center;
    align-items: center;
}
footer .elments{
    height: 254px;
    display: flex;
    gap: 20px;
}

footer a , footer p
 {
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #696A75;
}

footer h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #181A2A;
}

footer .about{
    width: 289px;
    height: 236px;
    display: grid;
    gap: 24px;
}
footer .about .head{
    width: 280px;
    height: 160px;
    display: grid;
    gap: 12px;
}
footer .about .num
{   width: 208px;
    height: 52px;
    display: grid;
    gap: 4px;
}
footer .cont{
    display: flex
}

footer .about .num span{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #181A2A;
}
footer .container .category{
    width: 495px;
    height: 236px;
    display: flex;
    justify-content: center;
    gap: 80px;
}
footer .container .category .list{
    display: grid;
    gap: 24px;
}
footer .category .list ul{
    display: grid;
    gap: 8px;
}
footer .email{
    width: 392px;
    height: 254px;
    border-radius: 12px;
    padding: 32px;
    display: grid;
    gap: 30px;
    background-color: #FFFFFF;
    justify-content: center;
}
footer .container .email .text{
    height: 56px;
    display: grid;
    gap: 8px;
    justify-content: center;
}
footer .container .email .text p,
footer .container .email .text h3{
    display: flex;
    justify-content: center;
}
footer .container .email .email-inp{
    width: 320px;
    height: 104px;
    display: grid;
    gap: 8px;

}
footer .container .email .input{
    display: flex;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid #DCDDDF;
    padding: 12px 16px;
    align-items: center;

}
footer .container .email input{
    width: 258px;
    height: 24px;
    outline: none;
    border: none;display: flex;
}
footer .container .email i{
    color: #696A75;
}
footer .container .email .email-inp .btn button{
    width: 320px;
    height: 48px;
    border-radius: 6px;
    padding: 12px 20px;
    background-color: #4B6BFB;
    color: #FFFFFF;
    outline: none;
    border: none;
} 

footer .foot {
    width: 1216px;
    height: 118px;
    padding-top: 32px;
    border-top: 1px solid #DCDDDF;
    display: flex;
    gap: 64px ;

}
footer .foot .policy{
    width: 780px;
    height: 24px;
}
footer .foot .policy ul{
    display: flex;
    gap: 16px;
    justify-content: flex-end;

}
footer .foot ul li:not(:first-child){
    padding-left: 16px;
    border-left: 1px solid #DCDDDF;
}
/* end footer */
